doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/main.css')
  body
    block content

    <!-- build:remove -->
    <script src="//localhost:35729/livereload.js"></script> 
    <!-- /build -->