h1 New User

form(method="POST", action="/users")
    p
        label(for="username") Username <br />
        input#username(name="username", placeholder="Username")

    p
        label(for="name") Name<br />
        input#name(name="name", placeholder="Name")

    p
        label(for="bio") Bio<br />
        textarea#bio(name="bio", placeholder="Bio")

    p
        input(type="submit", value="Create")